<header>
  <a href="#"><h1 class="site-title">Queue System</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="/">Menu</a></li>
      <li class="navitem navlink"><a href="queue">Queue</a></li>
    </ul>
  </nav>
</header>
