<button type="button" class="create-itemDesc-button">...</button>
<div class="itemDesc-backdrop hidden"></div>
<div class="create-itemDesc hidden">
    <div class="itemDesc-dialog">

        <div class="itemDesc-header">
            <h3>{{name}}</h3>
            <button type="button" class="itemDesc-close-button">&times;</button>
        </div>

        <div class="itemDesc-body">
            <img src="{{photoURL}}">
            <p class="menuItemExtendedDescription">{{extendedDescription}}</p>
        </div>

        <div class="itemDesc-footer">
            <p class="menuItemPrice">${{price}}</p>
            <button type="button" class="itemDesc-cancel-button">Cancel</button>
            <button type="button" class="itemDesc-accept-button">Add item</button>
        </div>

    </div>
</div>
