<button type="button" class="create-itemDesc-button">...</button>
<div class="itemDesc-backdrop hidden"></div>
<div class="create-itemDesc hidden">
    <div class="itemDesc-dialog">

        <div class="itemDesc-header">
            <h3>*change* insert item name from file</h3>
            <button type="button" class="itemDesc-close-button">&times;</button>
        </div>

        <div class="itemDesc-body">
            
        </div>

        <div class="itemDesc-footer">
            <button type="button" class="itemDesc-cancel-button">Cancel</button>
            <button type="button" class="itemDesc-accept-button">Add item</button>
        </div>

    </div>
</div>
