<section class="menuItem">
	<img src="{{photoURL}}">
	<p class="menuItemPrice">${{price}}</p>
	<h2 class="menuItemName">{{name}}</h2>
	<p class="menuItemDescription">{{description}}</p>
	<span class="addToOrder">+</span>
   	{{> ItemDesc}}
</section>
