body {
  font-family: sans-serif;
  margin: 0;
  background-color: #dadada;
}

header {
  background-color: #5727c6;
  color: #fff;
  margin:0;
}
a{
	text-decoration:none;
}
.site-title{
	font-size: 30px;
	margin:0;
	padding:15px;
	padding-left:50px;
	color: #fff;
}
.navbar {
  font-size: 24px;
  background-color: #fff;
}

.navlist {
  margin: 0;
}

.navitem {
  display: inline-block;
}

.navitem:hover {
  background-color: rgba(231, 132, 119, 0.18);
}

.navitem a {
  display: inline-block;
  color: #454545;
  padding: 10px 20px;
}


/* MENU PAGE */
.menu-container{
	padding: 30px;
	width:90%;
	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
}
.menuItem{
	flex: 0 1 400px;
	background-color:#fff;
	box-shadow: 1px 1px 1px grey;	
	padding:7px;
	margin:5px;
}
.menuItem img{
	float:left;
	height:100px;
	margin-right:10px;
}
.menuItemName{
	margin:2px;
	padding:0;
	font-size:20px;
}
.menuItemDescription{
	margin:1px;
	padding:0;
	font-size:16px;
	color:grey;
}
.menuItemPrice{
	float:right;
	margin:1px;
	padding:0;
	font-size:16px;
}
.addToOrder{
	float:right;
	margin-top:20px;
	font-size:30px;
	text-decoration:bold;
	color:grey;
	cursor:pointer;
}
.orderList{
	background-color: #fff;
	position:fixed;
	display:flex;
	height: 100px;
	width:100%;
	bottom: 0;
	transform: translate(0,100px);
	box-shadow: 0 0 1px black;
	transition: all .2s ease;
}
.placeOrder{
	position:inherit;
	right:0;
	background-color: #5727c6;
	border:1px solid black;
	border-radius: 3px;
	font-size:20px;
	width:100px;
	height:100%;
	cursor:pointer;
}
.orderItem{
	margin:7px;
	padding:5px;
}
.orderItem img{
	height:86px;
	float:left;
}
.orderItem span{
	font-size:20px;
	padding: 0 7px;
}
.orderItem span:last-child{
	font-size:16px;
	color:grey;
	display:block;
}


/* QUEUE PAGE */
.queueContainer{
	justify-content:center;
}
.queueOrder{
	display:flex;
	flex-wrap:wrap;
	width: 90%;
	margin: 0 auto;
	background-color:#eee;
	box-shadow:1px 1px 1px black;
	margin:10px;
	padding: 5px;
}


